html, body{
    margin :0;
    height: 100%;
    font-size: 1.4rem;
    text-align: center;
}

.container{
    padding: 1rem 1rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: rgb(255, 189, 189);
    align-items: center;
    direction: rtl;
    justify-content: center;
}

h2{
    font-weight: 400;
}
p{
    font-size: 2rem;
    font-weight: 700;
}

@media (max-width:600px)
{
    h1{
        font-size: 1.2rem;
    }
    .container{
        font-size: 0.7rem;
    }
    p{
        font-size: 1rem;
    }
}

@media (max-width:470px)
{
    h1{
        font-size: 1.1rem;
    }
    .container{
        font-size: 0.6rem;
    }
    p{
        font-size: 0.9rem;
    }
}
